body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav {
  background: #555;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  cursor: pointer;
}

section {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}